<div class="status-legend">
    <div><span class="status-circle active"></span> Activo</div>
    <div><span class="status-circle standby"></span> Espera</div>
    <div><span class="status-circle offline"></span> Desactivado</div>
</div>
